node_modules
*.env
.DS_Store
.cache/
.parcel-cache/

# *.js
# *.png
# *.svg
# *.json
*.jpg
# *.pug
dev-data
dev-data/img
# routes
# utils
# views
# *.css

# public\img

public/img/users
public/img/tours
# public/img

publicg